scikit-learn==1.6.1
Werkzeug==3.1.3
comm==0.2.2
contourpy==1.3.1
clarabel==0.10.0
jupyter-console==6.6.3
googleapis-common-protos==1.69.2
annotated-types==0.7.0
fastmri==0.3.0
ipywidgets==8.1.5
biopython==1.85
imageio==2.37.0
tinycss2==1.4.0
LAML==0.0.4
jupyter==1.1.1
certifi==2025.1.31
einops==0.8.1
jsonpointer==3.0.0
python-json-logger==3.3.0
nvidia-nvtx-cu12==12.4.127
synapseclient==4.7.0
setuptools==75.8.0
importlib_metadata==8.6.1
Markdown==3.7
jupyterlab_widgets==3.0.13
scs==3.2.7.post2
pycparser==2.22
prometheus_client==0.21.1
torchmetrics==1.7.0
jupyter-events==0.12.0
joblib==1.4.2
executing==2.2.0
parso==0.8.4
nvidia-cuda-runtime-cu12==12.4.127
pillow==11.1.0
sympy==1.13.1
treeswift==1.1.45
urllib3==1.26.20
PyWavelets==1.8.0
decorator==5.2.1
httpx==0.27.2
lazy_loader==0.4
debugpy==1.8.13
jedi==0.19.2
opentelemetry-instrumentation-requests==0.52b0
runstats==2.0.0
terminado==0.18.1
attrs==25.3.0
typing_extensions==4.12.2
opentelemetry-sdk==1.31.0
h5py==3.13.0
ipython==9.0.2
webencodings==0.5.1
anyio==4.9.0
pydantic==2.10.6
ipykernel==6.29.5
referencing==0.36.2
propcache==0.3.0
pydantic_core==2.27.2
nbformat==5.10.4
fqdn==1.5.1
jupyter_client==8.6.3
async-lru==2.0.5
wrapt==1.17.2
rfc3339-validator==0.1.4
jupyterlab_server==2.27.3
aiohappyeyeballs==2.6.1
packaging==24.2
python-dateutil==2.9.0.post0
nvidia-cusparselt-cu12==0.6.2
jupyter_core==5.7.2
torchvision==0.21.0
argon2-cffi-bindings==21.2.0
jupyter-lsp==2.2.5
zipp==3.21.0
torchsummary==1.5.1
nvidia-nccl-cu12==2.21.5
json5==0.10.0
tornado==6.4.2
lxml==5.3.2
idna==3.10
overrides==7.7.0
safetensors==0.5.3
fonttools==4.56.0
widgetsnbextension==4.0.13
tensorboard-data-server==0.7.2
wandb==0.19.8
types-python-dateutil==2.9.0.20241206
h11==0.14.0
opentelemetry-instrumentation-threading==0.52b0
pip==25.0
websocket-client==1.8.0
Jinja2==3.1.6
asttokens==3.0.0
MarkupSafe==3.0.2
lightning==2.5.1
tzdata==2025.2
nvidia-cudnn-cu12==9.1.0.70
pyparsing==3.2.3
protobuf==5.29.4
kiwisolver==1.4.8
nvidia-cusolver-cu12==11.6.1.9
jsonargparse==4.38.0
platformdirs==4.3.7
traitlets==5.14.3
wcwidth==0.2.13
aiohttp==3.11.14
ptyprocess==0.7.0
wheel==0.45.1
fastjsonschema==2.21.1
pytz==2025.2
grpcio==1.71.0
docker-pycreds==0.4.0
opentelemetry-proto==1.31.0
mistune==3.1.3
uri-template==1.3.0
sentry-sdk==2.23.1
jsonschema-specifications==2024.10.1
nvidia-cuda-cupti-cu12==12.4.127
asyncio-atexit==1.0.1
six==1.17.0
opentelemetry-util-http==0.52b0
fsspec==2025.3.0
httpcore==1.0.7
mpmath==1.3.0
torchinfo==1.8.0
huggingface-hub==0.29.3
jupyter_server_terminals==0.5.3
pytorch-lightning==2.5.1
bleach==6.2.0
gitdb==4.0.12
jsonschema==4.23.0
jupyterlab==4.3.6
aiosignal==1.3.2
argon2-cffi==23.1.0
frozenlist==1.5.0
psutil==5.9.8
nbconvert==7.16.6
notebook_shim==0.2.4
tensorboard==2.19.0
stack-data==0.6.3
osqp==1.0.3
pyzmq==26.3.0
lightning-utilities==0.14.2
defusedxml==0.7.1
PyYAML==6.0.2
matplotlib-inline==0.1.7
opentelemetry-exporter-otlp-proto-common==1.31.0
multidict==6.2.0
pandas==2.2.3
requests==2.32.3
typeshed_client==2.7.0
sniffio==1.3.1
smmap==5.0.2
opencv-python==4.11.0.86
nvidia-nvjitlink-cu12==12.4.127
tqdm==4.67.1
nvidia-curand-cu12==10.3.5.147
tifffile==2025.3.13
docstring_parser==0.16
ipython_pygments_lexers==1.1.1
opentelemetry-instrumentation==0.52b0
filelock==3.18.0
nest-asyncio==1.6.0
jupyterlab_pygments==0.3.0
scipy==1.15.2
opentelemetry-instrumentation-httpx==0.52b0
nvidia-cufft-cu12==11.2.1.3
threadpoolctl==3.6.0
charset-normalizer==3.4.1
soupsieve==2.6
networkx==3.4.2
importlib_resources==6.5.2
rfc3986-validator==0.1.1
absl-py==2.2.1
jupyter_server==2.15.0
Send2Trash==1.8.3
opentelemetry-exporter-otlp-proto-http==1.31.0
webcolors==24.11.1
hdf5storage==0.1.19
scikit-image==0.25.2
Mosek==11.0.16
Pygments==2.19.1
timm==1.0.15
pandocfilters==1.5.1
notebook==7.3.3
cvxpy==1.6.5
opentelemetry-instrumentation-urllib==0.52b0
opentelemetry-semantic-conventions==0.52b0
nvidia-cusparse-cu12==12.3.1.170
Deprecated==1.2.18
cffi==1.17.1
GitPython==3.1.44
matplotlib==3.10.1
setproctitle==1.3.5
cycler==0.12.1
yarl==1.18.3
prompt_toolkit==3.0.50
pure_eval==0.2.3
arrow==1.3.0
rpds-py==0.24.0
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cublas-cu12==12.4.5.8
triton==3.2.0
babel==2.17.0
nbclient==0.10.2
isoduration==20.11.0
numpy==2.2.4
pexpect==4.9.0
opentelemetry-api==1.31.0
click==8.1.8
beautifulsoup4==4.13.3
torch==2.6.0
jaraco.context==5.3.0
tomli==2.0.1
jaraco.text==3.12.1
wheel==0.43.0
typing_extensions==4.12.2
packaging==24.2
platformdirs==4.2.2
autocommand==2.2.2
jaraco.functools==4.0.1
inflect==7.3.1
typeguard==4.3.0
backports.tarfile==1.2.0
more-itertools==10.3.0
zipp==3.19.2
jaraco.collections==5.1.0
importlib_metadata==8.0.0
